h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #2DC2BD
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #A3BAC3
}

h2, h3, h4, h5 {
  color: #01A7C2;
  font-weight: bold;
  font-size: 10px
}

a {
  color: #D9D3D3;
  font-weight: bold; 
  text-decoration: none
}

.card-white {
  background: white;
  padding: 50px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  text-align: center;
  margin: 15px;
  box-shadow: 0px 10px 20px
}

img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 40px
}

.btn-blue {
  background-color: #4BB3FD;
  color: white;
  padding: 15px 10px;
  border-radius: 4px;

}

.btn-blue:hover {
  background-color: #272838;
  color:white

}

.list-inline i:hover {
  color :#272838
}

#first_card p {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}